In [1]:
import pandas as pd

```bash
pip install sqlalchemy psycopg2-binary 
```

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [4]:
engine.connect()

In [5]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1

In [9]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

Empty DataFrame
Columns: [schemaname, tablename, tableowner, tablespace, hasindexes, hasrules, hastriggers, rowsecurity]
Index: []

In [24]:
df = pd.read_csv('green_tripdata_2019-10.csv', nrows=100)
print(df.columns)

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [31]:
df = pd.read_csv('green_tripdata_2019-10.csv', parse_dates=['lpep_pickup_datetime'])

# Filter the DataFrame for the date range
filtered_df = df[
    (df['lpep_pickup_datetime'] >= '2019-10-01') &
    (df['lpep_pickup_datetime'] < '2019-11-01')
]

# Count the trips for each distance range
distance_query = {
    "Up to 1 mile": len(filtered_df[filtered_df['trip_distance'] <= 1]),
    "1 to 3 miles": len(filtered_df[(filtered_df['trip_distance'] > 1) & (filtered_df['trip_distance'] <= 3)]),
    "3 to 7 miles": len(filtered_df[(filtered_df['trip_distance'] > 3) & (filtered_df['trip_distance'] <= 7)]),
    "7 to 10 miles": len(filtered_df[(filtered_df['trip_distance'] > 7) & (filtered_df['trip_distance'] <= 10)]),
    "Over 10 miles": len(filtered_df[filtered_df['trip_distance'] > 10])
}

print(distance_query)

/var/folders/wf/zxrd6hnj18q38y1kpft4lflm0000gn/T/ipykernel_71201/2153021970.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-10.csv', parse_dates=['lpep_pickup_datetime'])

{'Up to 1 mile': 104830, '1 to 3 miles': 198995, '3 to 7 miles': 109642, '7 to 10 miles': 27686, 'Over 10 miles': 35201}

In [30]:
# Load your dataset
df = pd.read_csv('green_tripdata_2019-10.csv', parse_dates=['lpep_pickup_datetime'])

# Find the row with the longest trip distance
longest_trip = df.loc[df['trip_distance'].idxmax()]

# Extract the pick-up date and trip distance
pickup_day = longest_trip['lpep_pickup_datetime'].date()
longest_distance = longest_trip['trip_distance']

result = {
    "Pickup Day": pickup_day,
    "Longest Trip Distance": longest_distance
}

print(result)

{'Pickup Day': datetime.date(2019, 10, 31), 'Longest Trip Distance': np.float64(515.89)}

/var/folders/wf/zxrd6hnj18q38y1kpft4lflm0000gn/T/ipykernel_71201/3969656599.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-10.csv', parse_dates=['lpep_pickup_datetime'])

In [28]:
# Load your dataset
df = pd.read_csv('green_tripdata_2019-10.csv', parse_dates=['lpep_pickup_datetime'])

# Filter data for the specific date
date_filtered_df = df[df['lpep_pickup_datetime'].dt.date == pd.Timestamp('2019-10-18').date()]

# Group by pickup location and calculate the total amount
grouped_data = date_filtered_df.groupby('PULocationID')['total_amount'].sum()

# Filter for locations with total_amount > 13000
top_pickup_locations = grouped_data[grouped_data > 13000].sort_values(ascending=False)

print(top_pickup_locations)

/var/folders/wf/zxrd6hnj18q38y1kpft4lflm0000gn/T/ipykernel_71201/4188223094.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-10.csv', parse_dates=['lpep_pickup_datetime'])

   LocationID        Location Name  total_amount
0          74    East Harlem North      18686.68
1          75    East Harlem South      16797.26
2         166  Morningside Heights      13029.79

In [29]:
# Load the main dataset
df = pd.read_csv('green_tripdata_2019-10.csv', parse_dates=['lpep_pickup_datetime'])

# Load the taxi zone lookup table
zone_lookup = pd.read_csv('taxi_zone_lookup.csv')

# Merge dataset with zone lookup table to get pickup and drop-off zone names
df = df.merge(zone_lookup, how='left', left_on='PULocationID', right_on='LocationID')
df.rename(columns={'Zone': 'Pickup Zone'}, inplace=True)

df = df.merge(zone_lookup, how='left', left_on='DOLocationID', right_on='LocationID', suffixes=('', '_dropoff'))
df.rename(columns={'Zone': 'Dropoff Zone'}, inplace=True)

# Filter data for October 2019 and pickups from "East Harlem North"
filtered_df = df[
    (df['Pickup Zone'] == 'East Harlem North') &
    (df['lpep_pickup_datetime'] >= '2019-10-01') &
    (df['lpep_pickup_datetime'] < '2019-11-01')
]

# Find the row with the largest tip
largest_tip_row = filtered_df.loc[filtered_df['tip_amount'].idxmax()]

# Extract the drop-off zone name and tip amount
result = {
    "Dropoff Zone": largest_tip_row['Dropoff Zone'],
    "Largest Tip": largest_tip_row['tip_amount']
}

print(result)

/var/folders/wf/zxrd6hnj18q38y1kpft4lflm0000gn/T/ipykernel_71201/2665185361.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-10.csv', parse_dates=['lpep_pickup_datetime'])

{'Dropoff Zone': 'JFK Airport', 'Largest Tip': np.float64(87.3)}

In [20]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [22]:
df.to_sql(name='green_tripdata_trip', con=engine, index=False)

ValueError: Table 'green_tripdata_trip' already exists.

In [23]:
query = """
SELECT * FROM green_tripdata_trip LIMIT 10
"""

pd.read_sql(query, con=engine)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,None,0.3,19.30,2,1,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,None,0.3,9.05,2,1,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,None,0.3,22.80,2,1,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,None,0.3,6.80,2,1,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,None,0.3,13.56,1,1,0.0
5,2,2019-10-01 00:35:01,2019-10-01 00:43:40,N,1,65,49,1,1.47,8.0,0.50,0.5,1.86,0.0,None,0.3,11.16,1,1,0.0
6,1,2019-10-01 00:28:09,2019-10-01 00:30:49,N,1,7,179,1,0.60,4.0,0.50,0.5,1.00,0.0,None,0.3,6.30,1,1,0.0
7,2,2019-10-01 00:28:26,2019-10-01 00:32:01,N,1,41,74,1,0.56,4.5,0.50,0.5,0.00,0.0,None,0.3,5.80,2,1,0.0
8,2,2019-10-01 00:14:01,2019-10-01 00:26:16,N,1,255,49,1,2.42,10.5,0.50,0.5,0.00,0.0,None,0.3,11.80,2,1,0.0
9,1,2019-10-01 00:03:03,2019-10-01 00:17:13,Y,1,130,131,1,3.40,13.0,0.50,0.5,2.85,0.0,None,0.3,17.15,1,1,0.0

```sql
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
```

Source: https://www.postgresqltutorial.com/postgresql-show-tables/